.houseCard {
    display: flex;
    justify-content: space-between;
    color: $c-primary;

    .houseCard__title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .houseCard__location,
    .houseCard__name {
        font-size: 0.75rem;
    }
    .houseCard__tags {
        display: flex;
        margin-top: 20px;
    }
    .houseCard__tag {
        margin-right: 10px;
        background-color: $c-primary;
        color: $c-white;
        width: 115px;
        height: 25px;
        border-radius: 10px;
        font-size: 0.5rem;
        line-height: 25px;
        text-align: center;
    }
    .houseCard__picture {
        margin-left: 10px;
        width: 64px;
        border-radius: 50%;
    }
    .houseCard__host {
        display: flex;
        align-items: center;
    }
    .houseCard__hostWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .houseCard__name {
        text-align: end;
    }
}

.collapse__wrapper.-housePage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 60px;
}

@media screen and (max-width: $tablet-down) {
    .houseCard {
        flex-direction: column;

        .houseCard__title {
            font-size: 1.1rem;
        }
        .houseCard__location {
            font-size: 0.6rem;
        }
        .houseCard__tag {
            font-size: 0.4rem;
            width: 84px;
            height: 18px;
            line-height: 18px;
        }
        .houseCard__name {
            font-size: 0.6rem;
        }
        .houseCard__picture {
            width: 45px;
        }
        .houseCard__hostWrapper {
            margin-top: 1rem;
            flex-direction: row-reverse;
        }
        .houseCard__rating svg {
            width: 22px;
            height: 22px;
        }
    }
    .collapse__wrapper.-housePage {
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: $mobile-down) {
    .houseCard {
        .houseCard__title {
            font-size: 0.75rem;
        }
        .houseCard__picture {
            width: 32px;
        }
        .houseCard__name {
            font-size: 0.5rem;
        }
        .houseCard__rating svg {
            width: 15px;
            height: 15px;
        }
    }
}
