.reviewCard__detailed-rating {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem 1.5rem;

    .detailed-rating__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 0.9rem;
            color: #333;
        }
    }
}