.banner {
    position: relative;
    width: 100%;
    height: 225px;
    margin: 0 auto;
    border-radius: $border-radius;

    .banner__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
    }

    .banner__mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: $c-black;
        border-radius: $border-radius;
        opacity: 0.3;
    }

    .banner__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        font-size: 48px;
        text-align: center;
        color: $c-white;
    }
}

@media screen and (max-width: $tablet-down) {
    .banner {
        height: 180px;

        .banner__text {
            padding: 24px;
            font-size: 36px;
            text-align: left;
            overflow-wrap: break-word;
        }
    }
}

@media screen and (max-width: $large-mobile-down) {
    .banner {
        height: 110px;

        .banner__text {
            font-size: 24px;
        }
    }
}