@use './var' as *;
@use './fonts' as *;

body {
    font-family: $font-body;
    color: $c-text-main;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    font-family: $font-headings;
    color: $c-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headings;
    font-weight: 500;
}

// -- Global

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.kasa__wrapper {
    padding: 40px 0 0;

    &.-paddingBottom {
        padding-bottom: 40px;
    }

    @media screen and (max-width: $tablet-down) {
        padding: 20px 0 0;

        &.-paddingBottom {
            padding-bottom: 20px;
        }
    }

    @media screen and (max-width: $mobile-down) {
        padding: 10px 0 0;

        &.-paddingBottom {
            padding-bottom: 10px;
        }
    }
}