@use '../../style/base/var' as *;

.house-sidebar {
    background-color: $c-light-grey;
    padding: 20px;
    border-radius: 10px;

    &__host-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        margin-bottom: 20px;
    }

    &__host {
        display: flex;
        align-items: center;
    }

    &__name {
        font-size: 0.75rem;
        color: $c-primary;
        text-align: end;
    }

    &__picture {
        margin-left: 10px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        background-color: $c-light-grey;
    }

    &__picture-placeholder {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: $c-light-grey;
        background-image: url('../../assets/profile.svg');
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__rating {
        display: flex;
        justify-content: flex-end;
    }
}
