/* Override Leaflet's default popup margin to fix centering */
.leaflet-popup {
  margin-bottom: 0 !important;
}

.custom-marker {
  background-color: white;
  border: 2px solid #ff6060;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #ff6060;
}

.custom-marker-inner {
  transform: rotate(45deg);
  font-size: 12px;
}

.map-popup .leaflet-popup-content-wrapper {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1px; /* Small padding to prevent content overflow */
}

.map-popup .leaflet-popup-content {
  margin: 12px;
  font-size: 14px;
  line-height: 1.4;
}

.map-popup .leaflet-popup-tip {
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.map-popup .houseCard {
  box-shadow: none;
  border-radius: 8px; /* Match the popup's border-radius */
  overflow: hidden;
  width: 250px; /* Adjust width as needed */
}

.map-popup:has(.houseCard) .leaflet-popup-content {
  margin: 0;
}

