.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: $c-light-grey;
    padding: 56px 50px;
    border-radius: $border-radius;
    margin: 43px auto;
}

@media screen and (max-width: $small-tablet-down) {
    .gallery {
        background-color: $c-white;
        padding: 0px;
    }
}