.homeCard {
    position: relative;
    width: 340px;
    height: 340px;
    margin: 20px;

    .homeCard__background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: $linear-gradient;
        border-radius: $card-radius;
    }

    .homeCard__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $card-radius;
    }

    .homeCard__text {
        font-family: $font-headings;
        font-size: $fs-h4;
        position: absolute;
        right: 20px;
        bottom: 20px;
        left: 20px;
        color: $c-white;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: $small-tablet-down) {
    .homeCard {
        width: 335px;
        height: 255px;
    }
}