@use '../../style/base/var' as *;

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 56px 50px;
    margin: 43px auto;
    background-color: $c-light-grey;
    border-radius: $radius-lg;

    .gallery__no-results {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        color: $c-text-main;
        margin: 4rem 0;
    }
}

@media screen and (max-width: $small-tablet-down) {
    .gallery {
        padding: 0;
        background-color: $c-white;
    }
}