@import '../../style/base/_var.scss';

.carousel {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 500px;
    margin: 50px 0;
    overflow: hidden;

    .carousel__picture {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    .carousel__pagination {
        position: absolute;
        bottom: 25px;
        left: 50%;
        font-size: 24px;
        font-weight: 500;
        line-height: 142.6%;
        color: $c-white;
        transform: translateX(-50%);
    }

    .carousel__leftIcon,
    .carousel__rightIcon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .carousel__leftIcon {
        left: 10px;
    }

    .carousel__rightIcon {
        transform: translateY(-50%) rotate(180deg);
        right: 10px;
    }
}

@media screen and (max-width: $tablet-down) {
    .carousel {
        aspect-ratio: 3 / 2;

        .carousel__leftIcon,
        .carousel__rightIcon {
            width: 50px;
            height: 50px;
        }
    }
}

@media screen and (max-width: $mobile-down) {
    .carousel {
        aspect-ratio: 4 / 3;

        .carousel__leftIcon,
        .carousel__rightIcon {
            width: 30px;
            height: 30px;
        }
    }
}