.collapse__wrapper {
    margin: 2rem 0 8rem;

    &.-housePage {
        margin: 2rem 0;
    }

    .collapse__item {
        margin: 30px 0;
    }

    .collapse__titleWrapper {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $c-white;
        background-color: $c-primary;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            // stylelint-disable-next-line scss/no-global-function-names
            background-color: darken($c-primary, 10%);
            transition: background-color 0.3s ease-in-out;
        }
    }
    
    .collapse__icon {
        height: 14px;
        margin-right: 30px;
        transition: transform 0.3s ease-in-out;

        &.open {
            transform: rotate(180deg);
        }
    }
    
    .collapse__title {
        padding: 6px 18px;
        font-size: 24px;
        line-height: 142.6%;
    }
    
    .collapse__text {
        position: relative;
        top: -10px;
        z-index: 0;
        padding: 36px 18px 26px;
        font-size: 24px;
        font-weight: 300;
        line-height: 142.6%;
        color: $c-text-main;
        background-color: $c-light-grey;
        border-radius: 5px;
    }

    .collapse__list {
        font-weight: 300;
    }
}

@media screen and (max-width: $tablet-down) {
    .collapse__wrapper {
        margin: 2rem 0 4rem;

        .collapse__title {
            padding: 12px 20px;
            font-size: 20px;
        }

        .collapse__text {
            padding: 24px;
            font-size: 20px;
        }

        .collapse__list {
            font-size: 20px;
        }

        .collapse__icon {
            width: 15px;
            height: 10px;
            margin-right: 24px;
        }
    }
}

@media screen and (max-width: $mobile-down) {
    .collapse__wrapper {
        margin: 2rem 0 3rem;

        .collapse__title {
            padding: 8px 12px;
            font-size: 12px;
        }

        .collapse__text,
        .collapse__list {
            font-size: 14px;
        }

        .collapse__icon {
            margin-right: 16px;
        }
    }
}